@import url('./variables.css');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-pixel);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#app {
  width: 800px;
  max-width: 90%;
}

#boot {
  height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.boot-lines {
  text-align: left;
}

.boot-button {
  background: black;
  border: 3px solid var(--text-color);
  color: var(--text-color);
  padding: 12px 28px;
  font-size: 18px;
  font-family: inherit;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  opacity: 0;
  pointer-events: none;
  transform: scale(0.95);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.boot-button.show {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
  animation: blink 1s infinite;
}

.boot-button:hover {
  background: var(--text-color);
  color: var(--bg-color);
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }
}

.retro-about {
  max-width: 520px;
  margin: 40px auto;
  text-align: center;
}

.portrait-box {
  display: inline-block;
  border: 4px solid var(--text-color);
  padding: 12px;
  background: var(--bg-color);
}

.portrait-box img {
  display: block;
  width: 220px;
  image-rendering: pixelated;
}

.info-box {
  margin-top: 20px;
  border: 4px solid var(--text-color);
  padding: 20px;
  background: var(--bg-color);
  text-align: left;
}

.info-box h1 {
  font-size: 14px;
  margin-bottom: 6px;
}

.role {
  font-size: 10px;
  /* margin-bottom: 14px; */
  color: var(--accent-color);
}

.sub-role {
  font-size: 8px;
  margin-bottom: 10px;
  color: #22d3ee7d;
}

.description p {
  font-size: 9px;
  margin: 4px 0;
}

.techstack {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.tech {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech img {
  width: 32px;
  image-rendering: pixelated;
  margin-bottom: 4px;
}

.tech span {
  font-size: 7px;
}

.back-hint {
  margin-top: 20px;
  font-size: 8px;
  opacity: 0.7;
}